*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: red;
}

.main-visual{
  height: 500px;
  background-color: orange;
}

main{
  display: flex;
  justify-content:center;
}

.main1{
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.main2{
  width: 500px;
  height: 1400px;
  background-color: limegreen;
}

footer{
  height: 100px;
  background-color: blue;
}